*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right,
    rgb(24, 245, 4),rgb(4, 247, 247),
    rgb(5, 5, 233),rgba(228, 5, 116, 0.815));
    animation: gradient 4s linear infinite;
    background-size: 200% auto;
}
@keyframes gradient{
     0%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}
.container{
    border-radius: 20px;
    padding: 30px;
    width: 450px;
    height: 500px;
    background-color: aliceblue;
    box-shadow: 0 0 20px #000;
}
.title{
    font-size: 40px;
    background: linear-gradient(to right,
    rgb(255,2,2),rgba(255, 255, 0, 0.918),
    rgb(8, 216, 8),rgb(5, 218, 233));
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: title 3s linear infinite;
}
@keyframes title{
    0%{
        background-position: 200% 50%;
    }
    200%{
        background-size: 0% 50%;
    }
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.input input{
    width: 280px;
    height: 30px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    border: black;
    padding: 5px;
}
.input button{
    height: 30px;
    width: 60px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: #fff;
    font-weight: 700;
}

ul li{
    position: relative;
    list-style: none;
    padding-top: 20px;
    cursor: pointer;
    margin-left: 30px;
    font-size: 25px;
}
ul li::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
   
    background-size: cover;
    background-position: center;
    left: -40px;
    top: 25px;
    text-align: center;
}

ul li span{
    position: absolute;
    text-align: center;
    right: 0;
    font-size: 32px;
    color: #555;
    line-height: 40px;
    width: 37px;
    height: 37px;
    border-radius: 20px;
}
ul li span:hover{
    position: absolute;
    background-color: #c2c4cf;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
background-image: url(5610944.png);
}